body {
  margin: 0;
  background-color: var(--white);
}

/* UNIVERSAL CSS */
* 
{
  box-sizing: border-box;
}

#content {
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5
{
  font-family: var(--serif);
  color: var(--grey-dark);
}

h1
{
  font-size: var(--type1);
  line-height: var(--height3);
  margin: 0;
}

h2
{
  font-size: var(--type2);
  line-height: var(--height3);
  margin: 0;
}

h3
{
  font-size: var(--type3);
  line-height: var(--height3);
  margin: 0;
  /* letter-spacing: -0.03em; */
}
#content h3:not(:first-child)
{
  margin-top: 4rem;
}

h4,
.event-name a
{
  font-size: var(--type4);
  line-height: var(--height3);
  margin: 0;
}
#content h4
{
  margin-top: 4rem;
}

h5
{
  font-size: var(--type5);
  line-height: var(--height3);
  margin: 0 0 10px 0 !important;
  padding-top: 30px;
}

h6,
.widgettitle,
.event-date
{
  font-family: var(--sans);
  font-size: var(--type6);
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin: 0;
  color: var(--grey-dark);
}
#content .container h6+p
{
  margin-top: -20px;
}

p
{
  font-family: var(--sans);
  font-size: var(--type6);
  color: var(--grey-dark);
  margin: 0;
}
/* #content p+a,
#content p+.wp-block-buttons
{
  margin-top: -10px;
} */

p.lead-text,
section.page-header p
{
  font-size: var(--type4);
  font-weight: 300;
  color: var(--grey-dark);
  
}
p.lead-text
{
  padding: 30px 0 30px 5vw;
  border-left: 2px solid var(--grey-light);
}

:not(p) .wp-block-button__link,
#content :not(p) > a
{
	width: fit-content;
	height: fit-content;
	padding: 8px 12px;
	background-color: var(--red);
  color: var(--white);
  border: 4px solid var(--red);
	text-decoration: none;
	font-family: var(--sans);
	font-weight: 700;
  border-radius: 1px;
	font-size: var(--type7);
	line-height: var(--height3);
	text-transform: uppercase;
  transition: 0.2s;
}
:not(p) .wp-block-button__link:hover,
#content :not(p) > a:hover
{
	background-color: var(--white);
  color: var(--red);
  transition: 0.2s;

}
:not(p) .wp-block-button.white-link .wp-block-button__link,
:not(p) > a.white-link
{
  background-color: var(--white);
  color: var(--red);
}

/*
* Links included in paragraphs 
*/
p > a {
  color: var(--red-light);
  text-underline-offset: 4px;
}

.linklist {
  display: flex;
  width: fit-content;
  height: fit-content;
}
.linklist > *:not(:last-child) {
  margin: 0 5px 0 0;
}

/* Content */
.wrapper
{
  display: flex;
  width: 100%;
  padding: 0 5%;
  height: fit-content;
}
.wrapper > *:not(:last-child)
{
  padding: 5% 5% 0 0;
}

.content.front-page,
.sidebar.front-page
{
  display: flex;
  flex-direction: column;
}
.content .container > *:not(:last-child),
.sidebar .container > *:not(:last-child)
{
  margin-bottom: 60px;
}

.content.front-page {
  width: 65%;
}
.sidebar.front-page {
  position: absolute;
  /* margin-top: -25px; */
  margin-left: 60%;
  width: 35%;
  padding: 5%;
  border-left: 2px solid var(--grey-light);
  border-top: 2px solid var(--grey-light);
  background-color: var(--white);
}

.colorblock {
  padding: 45px;
}
.colorblock > *:not(:last-child) {
  margin-bottom: 15px;
}
/* Warning posts */
.colorblock :is(p, h5, h6) {
  padding: 0 !important;
}
.colorblock.warning a {
  color: var(--red);
	text-decoration: none;
	font-family: var(--sans);
	font-weight: 700;
  border-radius: 1px;
	font-size: var(--type7);
	line-height: var(--height3);
	/* text-transform: uppercase; */
}

#content:not(.front-page) > .container {
  width: 70vw;
  padding: 90px 7.5vw;
  border-right: 2px solid var(--grey-light);
}
#content:not(.front-page) > .container > *:not(:last-child){
  margin-bottom: 15px;
}

.wp-block-group {
  padding: 4rem;
  border: 2px solid var(--grey-text);
  border-radius: 5px;
}
.wp-block-group__inner-container {
  display: flex;
  flex-direction: column;
}
.wp-block-group__inner-container > *:not(:last-child) {
  margin-bottom: 1rem;
}
.wp-block-group__inner-container > :is(h2, h3) {
  max-width: 70%;
}
.wp-block-group__inner-container > .wp-block-buttons a {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-left: 0 !important;
  background-color: transparent !important;
  text-transform:none !important;
  color: var(--red) !important;
}
.wp-block-group__inner-container > .wp-block-buttons a::after {
  display: flex;
  content: " ";
  background-image: url(../icons/arrow_right.svg);
  background-size: cover; background-position: center;
  width: 15px; height: 12px;
  transform: translateX(10px);
  filter: brightness(0) invert(1);
  transition: 0.2s;
}
.wp-block-group__inner-container > .wp-block-buttons a:hover::after {
  transform: translateX(15px);
  transition: 0.2s;
}

#content:not(.front-page) > .container.merchant_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 90px 7.5vw;
  border-right: none;
}
article.merchants {
  width: 49%;
}


/* WashU Card Block */
.wp-block-washu-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-shadow: 0 8px 18px rgb(0 0 0 / 15%);
  border-radius: 5px;
  overflow: hidden;
  border-bottom: 5px solid var(--red-light);
}
.wp-block-washu-card:not(.washu-card__style-text-header) {
  flex-direction: row;
}
.wp-block-washu-card:not(.washu-card__style-text-header) 
.washu-card__image 
{
  display: flex;
  flex-direction: column;
  width: 45%;
  height: unset;
  object-fit: cover;
}
.wp-block-washu-card:not(.washu-card__style-text-header) 
.washu-card__image
img  
{
  height: 100%;
  object-fit: cover;
}
.wp-block-washu-card:not(.washu-card__style-text-header) 
.washu-card__grouping {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 40px 0;
}
.wp-block-washu-card figure {
  width: 100%;
  height: 100%;
  margin: 0;
}
.wp-block-washu-card img {
  width: 100%;
  height: 100%;
}
.washu-card__content
{
  padding: 35px 50px 50px 50px;
}
.washu-card__title
{
  padding: 0 50px 0px 50px;
}
.washu-card__style-text-header
.washu-card__grouping
{
  padding-top: 55px;
}
.washu-card .wp-block-buttons {
  padding-top: 25px;
}