body {
  margin: 0;
}

/* UNIVERSAL CSS */
* 
{
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5
{
  font-family: var(--serif);
  color: var(--grey-dark);
}

h1
{
  font-size: var(--type1);
  line-height: var(--height3);
  margin: 0;
}

h2
{
  font-size: var(--type2);
  line-height: var(--height3);
  margin: 0;
}

h3
{
  font-size: var(--type3);
  line-height: var(--height3);
  margin: 0;
}
#content h3:not(:first-child)
{
  margin-top: 4rem;
}

h4,
.event-name a
{
  font-size: var(--type4);
  line-height: var(--height3);
  margin: 0;
}
#content h4
{
  margin-top: 4rem;
}

h5
{
  font-size: var(--type5);
  line-height: var(--height3);
  margin: 0;
}

h6,
.widgettitle,
.event-date
{
  font-family: var(--sans);
  font-size: var(--type6);
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin: 0;
}
#content .container h6+p
{
  margin-top: -20px;
}

p
{
  font-family: var(--sans);
  font-size: var(--type6);
  color: var(--grey-dark);
  margin: 0;
}
#content p+a,
#content p+.wp-block-buttons
{
  margin-top: -10px;
}

p.lead-text,
section.page-header p
{
  font-size: var(--type4);
  font-weight: 300;
  color: var(--grey-text);
  
}
p.lead-text
{
  padding: 30px 0 30px 5vw;
  border-left: 2px solid var(--grey-text);
}

.wp-block-button__link,
:not(p) > a
{
	width: fit-content;
	height: fit-content;
	padding: 10px 18px;
	background-color: var(--red);
  color: var(--white);
	text-decoration: none;
	font-family: var(--sans);
	font-weight: 700;
  border-radius: 1px;
	font-size: var(--type7);
	line-height: var(--height3);
	text-transform: uppercase;
}
.wp-block-button.white-link .wp-block-button__link,
:not(p) > a.white-link
{
  background-color: var(--white);
  color: var(--red);
}

p > a {
  color: var(--red);
  text-underline-offset: 4px;
}

.linklist {
  display: flex;
  width: fit-content;
  height: fit-content;
}
.linklist > *:not(:last-child) {
  margin: 0 5px 0 0;
}

/* Content */
.wrapper
{
  display: flex;
  width: 100%;
  padding: 0 5%;
  height: fit-content;
}
.wrapper > *:not(:last-child)
{
  padding: 5% 5% 0 0;
}

.content.front-page,
.sidebar.front-page
{
  display: flex;
  flex-direction: column;
}
.content .container > *:not(:last-child),
.sidebar .container > *:not(:last-child)
{
  margin-bottom: 60px;
}

.content.front-page {
  width: 65%;
}
.sidebar.front-page {
  position: absolute;
  margin-top: -5%;
  margin-left: 60%;
  width: 35%;
  padding: 5%;
  border-left: 2px solid var(--grey-light);
  border-top: 2px solid var(--grey-light);
  background-color: var(--white);
}

.colorblock {
  padding: 45px;
}
.colorblock > *:not(:last-child) {
  margin-bottom: 15px;
}

#content:not(.front-page) > .container {
  width: 70vw;
  padding: 90px 7.5vw;
  border-right: 2px solid var(--grey-light);
}
#content:not(.front-page) > .container > *:not(:last-child){
  margin-bottom: 30px;
}

