@keyframes pulsate {
    0% {
        opacity: 0;
        /* transform: scale(0.7); */
    }

    50% {
        opacity: 1;
        /* transform: scale(1); */
    }

    100% {
        opacity: 0;
        /* transform: scale(0.7); */
    }
}




#content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#dining_dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}


#dining_locations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 100%;
    height: fit-content;
    margin-top: 3em;
}

#dining_locations>* {
    width: 100%;
    /* max-width: 500px; */
    margin-bottom: 30px;
}


.region {
    display: flex;
    flex-direction: column;
    width: 23.5%;
    height: fit-content;
}

.region>.market,
.region>.location {
    border-radius: 5px;
}

.market {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0 0 0;
    height: fit-content;
    border-radius: 5px;
}

.market>.content>.title {
    padding: 30px 30px 10px 30px;
}

.market>.content>.wordmark {
    margin: 30px 30px 10px 30px;
}


.location {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    height: fit-content;
    border-radius: 5px;
}

.market .location {
    padding: 40px;
    margin-bottom: 25px;
}

.region>* {
    margin-bottom: 40px;
}

.location .header {
    justify-content: space-between;
    width: 100%;
}

.location .header .content {
    /* width: calc(100% - 100px); */
    width: 100%;
}

.location .header .location .header,
.location .content,
.location .buttons {
    display: flex;
    width: fit-content;
    height: fit-content;
    color: inherit;
}


.region .location,
.location .content {
    flex-direction: column;
    align-items: flex-start;
}

.location .content p:nth-child(2) {
    opacity: 0.5;
    transition: 0.2s ease-in-out;

}

.location:hover .content p:nth-child(2) {
    opacity: 1;
    transition: 0.2s ease-in-out;
}


.location:link,
.location:visited,
.location:hover,
.location:active {
    color: unset;
    text-decoration: unset;
}

.location:link *,
.location:visited *,
.location:hover *,
.location:active * {
    color: inherit;
}

.market * {
    color: inherit;
}


.location .content {
    margin-bottom: 0.5em;
}

.title {
    font-size: 1.6em;
    font-weight: 600;
}

.market .location .title {
    font-size: 1.3em;
}

.market>.content>.title {
    margin-bottom: 25px;
}

.content>p:nth-child(2) {
    font-size: 1rem;
}

img.wordmark {
    display: flex;
    width: auto;
    max-height: 3em;
    margin-bottom: 1em;
    object-fit: contain;
}

img.circular {
    max-height: 3.5em;
    margin-right: 1em;
    object-fit: contain;
    padding: 0 !important;
}

.market .location img.circular {
    max-height: 4.5em;
}

.loc_wrapper {
    display: flex;
    width: 100%;
}


.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
}

.controls>p {
    font-size: 1rem;
    font-weight: 600;
}

.location .controls a {
    border: none !important;
    border-radius: 5px;
    margin-right: 10px;
    height: 1em;
}

.location .controls a {
    background-color: #ffffff20 !important;
    transition: 0.2s;
}

.region>.location:not(.stylized) .controls a {
    background-color: #00000020 !important;
}


.location.closed {
    opacity: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.market .location.closed {
    order: 1 !important;
}
.market .location.open {
    order: 0 !important;
}

.location.closed {
    background: repeating-linear-gradient(45deg,
            #00000030,
            #00000030 10px,
            #00000050 10px,
            #00000050 20px);
    border: none !important;
}

.location.closed .content>p {
    font-size: 1em;
    font-weight: 600;
}

.region>.location.closed {
    border: 2px solid #000000;
}

.location.closed .title {
    width: 60%;
    font-size: 1.2em;
    margin: 0;
}

.closed .content {
    width: 100%;
    align-items: center;
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 0 !important;
}


.region> :not(.closed):not(.stylized) {
    border: 2px solid #bebebe;
}

.location .buttons {
    opacity: 0.1;
    transition: 0.3s ease-in-out;
}

.location:hover .buttons {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px !important;
    height: 45px !important;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease-in-out;
    padding: 0 !important;
    overflow: hidden;
}

.buttons a::before {
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-in-out;
}


.buttons a.navigation::before {
    background-image: url(../dashboard/icons/nav_black.svg);
}

.stylized .buttons a.navigation::before {
    background-image: url(../dashboard/icons/nav_white.svg);
}

.buttons a.navigation:hover::before {
    transform: rotate(45deg) scale(1.1);
    transition: 0.2s ease-in-out;
}


.buttons a.grubhub::before {
    background-image: url(../dashboard/icons/gh_black.svg);
}

.stylized .buttons a.grubhub::before {
    background-image: url(../dashboard/icons/gh_white.svg);
}

.buttons a.grubhub:hover::before {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}


.buttons a.feedback::before {
    background-image: url(../dashboard/icons/fb_black.svg);
}

.stylized .buttons a.feedback::before {
    background-image: url(../dashboard/icons/fb_white.svg);
}

.buttons a.feedback:hover::before {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}








.region .location .controls .buttons a {
    background-color: #00000020 !important;
    transition: 0.2s;
}

.region .location .controls .buttons a:hover {
    background-color: #00000010 !important;
    transition: 0.2s;
}


.market>.content {
    background-color: inherit !important;
}

.market>.content>.location {
    background-color: inherit !important;
}

.location,
.market>.content>.location {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

.location:hover,
.market>.content>.location:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}


.location.open:hover {
    transform: scale(1.04);
}

.content>.location.open:hover {
    transform: scale(1.04);
}

.location .controls>p {
    display: flex;
    align-items: center;
    text-align: right;
}

/* .region > .location.stylized .controls > p::after,
.stylized .controls > p::after
{
    display: flex;
    content: "";
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 100vh;
    
    background-color: #ffffff;

    animation-name: pulsate;
    animation-duration: 3s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
} */

/* .region > .location:not(.stylized) .controls > p::after,
.market:not(.stylized) .controls > p::after
{
    display: flex;
    content: "";
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 100vh;
    
    background-color: #353535;

    animation-name: pulsate;
    animation-duration: 3s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
} */

.market:not(.stylized) {
    background-color: #ffffff;
}



.special {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    display: flex;
    font-size: 1rem;
    background-color: #ffcc00;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    color: #000 !important;
    padding: 15px;
    border-radius: 3px;
    width: 100%;
}

.special::before {
    content: "Special Hours";
    position: relative;
    font-size: 0.8rem;
    letter-spacing: 0.01em;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 0.5em;
}

.closed .content p:nth-child(2) {
    text-align: right;
}

.market .closed {
    border-radius: 5px;
}

.market .closed:not(:last-child) {
    margin-bottom: 5px !important;
}

.market .closed:last-child {
    margin-bottom: 0px !important;
}


.market>.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.market .location {
    background-color: #00000000;
    border-radius: 5px;
    transition: 0.2s;
}

.market .location:hover {
    background-color: #00000005;
    transition: 0.2s;
}

