#content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#dining_dashboard
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}


#dining_locations
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-top: 3em;
}


.region
{
    display: flex;
    flex-direction: column;
    width: 23.5%;
    height: fit-content;
}
.region > .market,
.region > .location 
{
    border-radius: 5px;
}

.market
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    height: fit-content;
}


.location
{
    display: flex;
    width: 100%;
    padding: 30px;
    height: fit-content;
}
.market .location
{
    padding: 10px;
    margin-bottom: 25px;
}
.market {
    padding-bottom: 15px;
}
.region > * {
    margin-bottom: 40px;
}

.location .header,
.location .content,
.location .buttons
{
    display: flex;
    width: fit-content;
    height: fit-content;
    color: inherit;
}


.region
.location,
.location .content 
{
    flex-direction: column;
}


.location:link,
.location:visited,
.location:hover,
.location:active
{
    color: unset;
    text-decoration: unset;
}
.location:link *,
.location:visited *,
.location:hover *,
.location:active *
{
    color: inherit;
}

.market *
{
    color: inherit;
}


.location .content 
{
    margin-bottom: 0.5em;
}
.title {
    font-size: 1.6em;
    font-weight: 600;
}
.market .location .title
{
    font-size: 1.3em;
}

img.wordmark
{
    max-height: 3em;
    margin-bottom: 1em;
    object-fit: contain;
}
img.circular
{
    max-height: 6em;
    margin-right: 1em;
    object-fit: contain;
}
.market .location img.circular
{
    max-height: 4.5em;
}



.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
}
.controls > p {
    font-weight: 600;
}
.location .controls a {
    border: none !important;
    border-radius: 5px;
    margin-right: 10px;
    height: 1em;
}
.location .controls a
{
    background-color: #ffffff20 !important;
}
.region > .location:not(.stylized) .controls a {
    background-color: #00000020 !important;
}


.location.closed 
{
    opacity: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.location.closed > p
{
    font-size: 1em;
    font-weight: 600;
}
.region > .location.closed
{
    border: 2px solid #000000;
}
.location.closed .title 
{
    width: 60%;
    font-size: 1.2em;
    margin: 0;
}