#dining_dashboard 
{
    padding: 20px;
    border-radius: 4px;
}

#datetime,
#preferences,
#regions
{
    margin-left: 10px;
    font-family: 'Source Sans Pro';
    border: 2px solid var(--grey-light);
    font-size: 18px;
    height: 45px;
    padding: 5px 10px;
    font-weight: 700;
}

#control_panel {
    padding: 30px;
    margin-bottom: 30px;
}
#control_panel > .row > .row:not(:last-child) {
    padding-right: 15px;
}

.page-header {
    display: none !important;
}

#content {
    padding-top: 50px !important;
}

.location .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    color: inherit;
}
.location .content *:not(a) {
    color: inherit;
}
.location .content a {
    margin-top: 20px !important;
}
a.location:link { text-decoration: none; color: unset;}
a.location:visited { text-decoration: none; color: unset;}
a.location:hover { text-decoration: none; color: unset;}
a.location:active { text-decoration: none; color: unset;}

.location.closed {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
    transition: 0.3s;
}
.location.closed:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.market .location {
    transform: scale(1);
    transition: 0.3s;
}
.market .location:hover {
    transform: scale(1.04);
    transition: 0.3s;
}

.location p {
    font-size: 16px;
}
.location p:first-child {
    font-weight: 600;
    font-size: 18px;
}

.location img:not(.wordmark) {
    object-fit: contain;
    width: auto;
    height: auto;
    max-height: 150px;
    max-width: 100px;
    margin-right: 30px;
}
.market > .content > img:not(.wordmark) {
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 40%;
    margin-right: 30px;
}
.market .location img:not(.wordmark) {
    object-fit: contain;
    width: auto;
    height: auto;
    margin-right: 20px;
    max-width: 25%;
}
img.wordmark {
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 60px;
    margin-bottom: 10px;
}


.location.open {
    order: 1;
}
.location.closed {
    background-color: #00000010;
    opacity: 50%;
    order: 2;
}

#locationsList {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    width: 100%;
}

#content {
    width: 100%;
}

#locationsList > *
{
    width: 24% !important;
    padding: 0 !important;
}

.region >
.location > .content > p:first-child
{
    font-size: 24px;
}

.region,
.market,
.location
{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 30px;
    border-radius: 3px;
}

.region > *
{
    margin-bottom: 20px;
}

.region,
.market
{
    flex-direction: column;
}

.market > .content > p:first-child
{
    color: inherit;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.market
.location {
    width: 100%;
    padding: 30px;
    box-shadow: none;
}
.market > .content .location:first-child
{
    padding-top: 25px !important;
}
.market > .content .location:last-child
{
    padding-bottom: 25px !important;
}



#locationsList >
:is(.market, .location):not(.stylized) {
    border: 2px solid #353535;
}

.market
.location > .content
{
    flex-direction: column;
    justify-content: flex-start;
}

.market 
.location > .content
a
{
    margin-top: 0 !important;
}

.market > .content {
    display: flex;
    flex-direction: column;
}

.closed > .content > p:first-child
{
    font-size: 16px !important;
    /* font-weight: 500 !important; */
}