

#content {
  display: flex;
  flex-direction: column;
}

.location {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #000000;
  padding: 30px;
  width: 40vw;
}

.location * {
  font-family: var(--sans);
}
